<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Devices</h3>
  </div>
  <ul class="list-unstyled components">
    <li *ngFor="let device of devices">
      <a *ngIf="device.browsers.length === 0; else browsers" href="#">{{device.name}}</a>
      <ng-template #browsers>
        <a href="#collapse{{device.id}}" data-toggle="collapse" aria-expanded="false"
           class="dropdown-toggle">{{device.name}}</a>
        <ul class="collapse list-unstyled" id="collapse{{device.id}}">
          <li *ngFor="let browser of device.browsers">
            <a href="#">{{browser.name}}</a>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>
</nav>
