<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Devices</h3>
  </div>
  <ul class="list-unstyled">
    <li *ngFor="let device of devices">
      <button *ngIf="device.browsers.length === 0; else browsers" type="button"
              class="btn btn-link">{{device.name}}</button>
      <ng-template #browsers>
        <button type="button" class="btn btn-link">{{device.name}}</button>
        <ul>
          <li *ngFor="let browser of device.browsers">
            <button type="button" class="btn btn-link" (click)="onSelectedBrowser(browser)">{{browser.name}}</button>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>
</nav>
